@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import "tailwindcss";

body {
  font-family: 'DM Sans', sans-serif;
}

@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 18s linear infinite;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}